[Unit]
Description=Transfery
After=network.target

[Service]
ExecStart=/home/ubuntu/.local/bin/pipenv run sanic run.app -p 5020 -H 0.0.0.0
Restart=always
RestartSec=10
StartLimitInterval=0
User=%i
WorkingDirectory=/home/ubuntu/transfery

[Install]
WantedBy=default.target

